extends layout

block content
    h1= title
    p Welcome to #{title}
    .assigned-storages-wrapper
        .assigned-storages
            - each relation in assignedStorages
                .relation-item
                    .source-item
                        select
                            option(value="-1") None
                            - each storage in allStorages
                                option(value=storage.id selected=(storage.id === relation.id)) #{storage.name}
                        // span.relation= relation.name + " -> "
                    .target-item
                        select
                            option(value="-1") None
                            - each storage in allStorages
                                option(value=storage.id selected=(storage.id === relation.targetStorage.id)) #{storage.name}
                        // span.relation= relation.targetStorage.name
            //    Unassigned storages
            - each unusedStorage in unassignedStorages
                .relation-item
                    .source-item
                        select
                            option(value="-1") None
                            - each storage in allStorages
                                option(value=storage.id selected=(storage.id === unusedStorage.id)) #{storage.name}
                        // span.relation= storage.name
                    .target-item
                        select
                            option(value="-1") None
                            - each storage in allStorages
                                option(value=storage.id) #{storage.name}
