extends layout

block content
    h1= title
    p Welcome to #{title}
    .assigned-storages-wrapper
        .assigned-storages
            - each relation in assignedStorages
                .relation-item
                    .source-item
                        span.relation= relation.name + " -> "
                    .target-item
                        select
                            option(value="0") Empty
                            option(value="volvo" selected=true) Volvo
                            option(value="saab") Saab
                            option(value="mercedes") Mercedes
                            option(value="audi") Audi
                        // span.relation= relation.targetStorage.name
            //    Unassigned storages
            - each storage in unassignedStorages
                .relation-item
                    .source-item
                        span.relation= storage.name
                    .target-item
                        select
                            option(value="0") Empty
                            option(value="volvo") Volvo
                            option(value="saab") Saab
                            option(value="mercedes") Mercedes
                            option(value="audi") Audi
