extends layout

block content
    h1= title
    p Welcome to #{title}
    .assigned-storages-wrapper
        .assigned-storages
            - each relation in assignedStorages
                .relation-item
                    .source-item
                        span.relation= relation.name + " -> "
                    .target-item
                        span.relation= relation.targetStorage.name
            //    Unassigned storages
            - each storage in unassignedStorages
                .relation-item
                    .source-item
                        span.relation= storage.name
                    .target-item
                        span.relation= Empty
